body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    text-align: center;
    font-family: cursive;
    overflow-y: scroll;
    
}


.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.butterfly-container {
    position: absolute;
    top: 0%;
    
}

.butterfly {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: butterflyMove 10s linear infinite;
    opacity: 0.6;
}

.intro { 
    position: absolute;
    top: 35%;
    left: 40%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    h1{
        color: rgb(25, 65, 10);
    }
    h2{
        color: rgb(85, 51, 21);
    }

}
.butterfly-icon {
    position: absolute;
    top: 72%;
    left: 40%;  
}

.butterfly-icon2{
    position: absolute;
    top: 72%;
    left: 49%;
}

.butterfly-icon3{
    position: absolute;
    top: 72%;
    left: 58%;  
}

a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease; 
}

a:hover{
    color: rgb(28, 175, 150);
}


@keyframes butterflyMove {
    0% {
        left: -100px;
    }
    100% {
        left: calc(100vw + 50px);
    }
}

.profile {
    position: absolute;
    top: 100%;
    height: 150%;
    width: 100%;
    
    
}
.profile section{
    position: absolute;
    top: 7%;
    padding-left: 20px;
    padding-bottom: 50px;
    left: 680px;
    width: 500px;
    text-align: left;
    background-color: black;
    opacity: 0.8;
    color: #f4f4f4;
}

.profile img {
    position: absolute;
    top: 4%;
    left: 290px;
    height: 290px;
    width: 300px;
    border-radius: 50%;
    border: 4px solid black;
    
}

.project-section {
    position: absolute;
    background-color: #f4f4f4;
    top: 150%; 
    height: 100%; 
    width: 100%;
    text-align: center;
}




